@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Herbář</h1>
    <p>Nácvik .NET Core MVC aplikace za použití: <strong>DAPPER</strong></p>
    <p>zdroj: <a href="https://www.youtube.com/watch?v=IVsN0WlufWc&ab_channel=BhrugenPatel" target="_blank">Bhrugen Patel</a></p>
</div>
